.booking-form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #692020;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #abbaca;
  }
  
  .booking-form-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .booking-form-container label {
    display: block;
    margin-bottom: 10px;
  }
  
  .booking-form-container select,
  .booking-form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .booking-form-container button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .booking-form-container button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  .booking-form-container button[type="button"] {
    background-color: #ccc;
    color: #af2323;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .booking-form-container button[type="button"]:hover {
    background-color: #999;
  }
  .booking-form-container {
    margin-top: 200px; 
    margin-bottom: 20px; 
  }
 .mySwiper2.swiper.swiper-initialized.swiper-horizontal.swiper-backface-hidden.mySwiper2 {
    height: 457px;
    width: 429px;
} 
/*
.mySwiper2.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
  position: absolute;
  top: 174px; 
} */
/* .swiper.swiper-initialized.swiper-horizontal.swiper-css-mode.mySwiper2 {
  width: 478px;
  height: 353px;
} */

span.swiper-pagination-bullet {
  top: 47px;
  position: relative;
}
h2.fw-1.float-left.branch-name {
  position: relative;
  right: 170px;
}
.branch-add {
  position: relative;
  right: 191px;
}
.col-1.location-sign {
  position: relative;
  right: 18px;
}