{{template "header.html"}}
        <div class="pd-ltr-20 xs-pd-20-10">
            <div class="min-height-200px">
                <div class="page-header">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="title">
                                <h4>Form</h4>
                            </div>
                            <nav aria-label="breadcrumb" role="navigation">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="index.html">Home</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">
                                        Form Basic
                                    </li>
                                </ol>
                            </nav>
                        </div>
                        <div class="col-md-6 col-sm-12 text-right">
                            <div class="dropdown">
                                <a
                                    class="btn btn-secondary dropdown-toggle"
                                    href="#"
                                    role="button"
                                    data-toggle="dropdown"
                                >
                                    January 2018
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#">Export List</a>
                                    <a class="dropdown-item" href="#">Policies</a>
                                    <a class="dropdown-item" href="#">View Assets</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Default Basic Forms Start -->
                <div class="pd-20 card-box mb-30">
                    <div class="clearfix">
                        <div class="pull-left">
                            <h4 class="text-blue h4">Default Basic Forms</h4>
                            <p class="mb-30">All bootstrap element classies</p>
                        </div>
                        <!-- <div class="pull-right">
                            <a
                                href="#basic-form1"
                                class="btn btn-primary btn-sm scroll-click"
                                rel="content-y"
                                data-toggle="collapse"
                                role="button"
                                ><i class="fa fa-code"></i> Source Code</a
                            >
                        </div> -->
                    </div>
                    <form  id = "branch_form">
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Package Name</label>
                            <div class="col-sm-12 col-md-10">
                                <input
                                id="name"
                                    class="form-control"
                                    type="text"
                                    placeholder="Turf Name Here"
                                />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Price</label>
                            <div class="col-sm-12 col-md-10">
                                <input
                                id = "branch_name"
                                    class="form-control"
                                    placeholder="Branch Name Here"
                                    type="text"
                                />
                            </div>
                        </div>
                       
                    
                        
                        

                        
                        <!-- <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Branch Status</label>
                            <div class="col-sm-12 col-md-10">
                                <input class="form-control" value="100" type="number" />
                            </div>
                        </div> -->
        
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Branch Status</label>
                            <div class="col-sm-12 col-md-10">
                                <select class="custom-select col-12">
                                    <option selected="">Choose...</option>
                                    <option value="1">Enable</option>
                                    <option value="2">Disable</option>
                                    
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Days</label>
                            <div class="col-sm-12 col-md-10 d-flex justify-content-around">
                                <div class="custom-control custom-checkbox d-inline">
                                    <input type="checkbox" class="custom-control-input packageDays" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">All Days</label>
                                </div>
                                <div class="custom-control custom-checkbox d-inline">
                                    <input type="checkbox" class="custom-control-input packageDays" id="customCheck2">
                                    <label class="custom-control-label" for="customCheck2">Sunday</label>
                                </div>
                                <div class="custom-control custom-checkbox d-inline">
                                    <input type="checkbox" class="custom-control-input packageDays" id="customCheck3">
                                    <label class="custom-control-label" for="customCheck3">Monday</label>
                                </div>
                                <div class="custom-control custom-checkbox d-inline">
                                    <input type="checkbox" class="custom-control-input packageDays" id="customCheck4">
                                    <label class="custom-control-label" for="customCheck4">Tuesday</label>
                                </div>
                                <div class="custom-control custom-checkbox d-inline">
                                    <input type="checkbox" class="custom-control-input packageDays" id="customCheck5">
                                    <label class="custom-control-label" for="customCheck5">Wednesday</label>
                                </div>
                                <div class="custom-control custom-checkbox d-inline">
                                    <input type="checkbox" class="custom-control-input packageDays" id="customCheck6">
                                    <label class="custom-control-label" for ="customCheck6">Thursday</label>
                                </div>
                                <div class="custom-control custom-checkbox d-inline">
                                    <input type="checkbox" class="custom-control-input packageDays" id="customCheck7">
                                    <label class="custom-control-label" for="customCheck7">Friday</label>
                                </div>
                                <div class="custom-control custom-checkbox d-inline">
                                    <input type="checkbox" class="custom-control-input packageDays" id="customCheck8">
                                    <label class="custom-control-label" for="customCheck8">Saturday</label>
                                </div>
                            </div>
                        </div>
                        
                        

                        <div>
                           
                            <input class="btn btn-primary" type="submit" value="Submit" id="submit" />
                            
                        </div>
                       
                    </form>
                    <div class="collapse collapse-box" id="basic-form1">
                        <div class="code-box">
                            <div class="clearfix">
                                <a
                                    href="javascript:;"
                                    class="btn btn-primary btn-sm code-copy pull-left"
                                    data-clipboard-target="#copy-pre"
                                    ><i class="fa fa-clipboard"></i> Copy Code</a
                                >
                                <a
                                    href="#basic-form1"
                                    class="btn btn-primary btn-sm pull-right"
                                    rel="content-y"
                                    data-toggle="collapse"
                                    role="button"
                                    ><i class="fa fa-eye-slash"></i> Hide Code</a
                                >
                            </div>
                            <pre><code class="xml copy-pre" id="copy-pre">

                        </code></pre>
                        </div>
                    </div>
                </div>
                <!-- Default Basic Forms End -->
            </div>
            <div class="footer-wrap pd-20 mb-20 card-box">
                DeskApp - Bootstrap 4 Admin Template By
                <a href="https://github.com/dropways" target="_blank"
                    >Ankit Hingarajiya</a
                >
            </div>
        </div>


   
    {{template "footer.html"}}

    <script>
        $(document).ready(function() {
            // When the "All" checkbox is clicked
            $('#customCheck1').change(function() {
                if (this.checked) {
                    // Check all the checkboxes with the class 'checkbox'
                    $('.packageDays').prop('checked', true);
                } else {
                    // Uncheck all the checkboxes with the class 'checkbox'
                    $('.packageDays').prop('checked', false);
                }
            });
            
            // When any of the other checkboxes are clicked
            $('.packageDays').change(function() {
                // Check if all checkboxes with the class 'checkbox' are checked
                if ($('.packageDays:checked').length === $('.packageDays').length) {
                    // Check the "All" checkbox
                    $('#customCheck1').prop('checked', true);
                } else {
                    // Uncheck the "All" checkbox
                    $('#customCheck1').prop('checked', false);
                }
            });
        });
    </script>