{{template "header.html"}}
<div class="pd-ltr-20 xs-pd-20-10">
    <div class="min-height-200px">
        <div class="page-header">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="title">
                        <h4>Form</h4>
                    </div>
                    <nav aria-label="breadcrumb" role="navigation">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/dashboard">Home</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Form Basic
                            </li>
                        </ol>
                    </nav>
                </div>
               
            </div>
        </div>
        <!-- Default Basic Forms Start -->
        <div class="pd-20 card-box mb-30">
            <div class="clearfix">
                <div class="pull-left">
                    <h4 class="text-blue h4">Package</h4>

                </div>
                <!-- <div class="pull-right">
                            <a
                                href="#basic-form1"
                                class="btn btn-primary btn-sm scroll-click"
                                rel="content-y"
                                data-toggle="collapse"
                                role="button"
                                ><i class="fa fa-code"></i> Source Code</a
                            >
                        </div> -->
            </div>
            <form id="package_form">
                <div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label">Package Name</label>
                    <div class="col-sm-12 col-md-10">
                        <input id="name" class="form-control" type="text" placeholder="Package Name Here" required
                            onkeyup="checkNameLength()" />

                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label">Price</label>
                    <div class="col-sm-12 col-md-10">
                        <input id="price" class="form-control" placeholder="Package price Here" type="text" required
                            onkeyup="checkPriceLength()" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label">Branch Name</label>
                    <div class="col-sm-12 col-md-10">
                        <select class="custom-select col-12" id="branchSelect" required>

                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label">Status</label>
                    <div class="col-sm-12 col-md-10">
                        <select class="custom-select col-12" id="status_branch" required>
                            <option selected="" selected disabled>Choose...</option>
                            <option value="1">Active</option>
                            <option value="2">Disabled</option>
                        </select>
                    </div>
                </div>


                <!-- <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Branch Status</label>
                            <div class="col-sm-12 col-md-10">
                                <input class="form-control" value="100" type="number" />
                            </div>
                        </div> -->

                <!-- <div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label">Branch Status</label>
                    <div class="col-sm-12 col-md-10">
                        <select class="custom-select col-12">
                            <option selected="">Choose...</option>
                            <option value="1">Enable</option>
                            <option value="2">Disable</option>

                        </select>
                    </div>


                </div> -->
                <div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label">Days</label>
                    <div class="col-sm-12 col-md-10 d-flex justify-content-around">
                        <div class="custom-control custom-checkbox d-inline">
                            <input type="checkbox" class="custom-control-input packageDays" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">All Days</label>
                        </div>
                        <div class="custom-control custom-checkbox d-inline">
                            <input type="checkbox" class="custom-control-input packageDays" id="customCheck2">
                            <label class="custom-control-label" for="customCheck2">Sunday</label>
                        </div>
                        <div class="custom-control custom-checkbox d-inline">
                            <input type="checkbox" class="custom-control-input packageDays" id="customCheck3">
                            <label class="custom-control-label" for="customCheck3">Monday</label>
                        </div>
                        <div class="custom-control custom-checkbox d-inline">
                            <input type="checkbox" class="custom-control-input packageDays" id="customCheck4">
                            <label class="custom-control-label" for="customCheck4">Tuesday</label>
                        </div>
                        <div class="custom-control custom-checkbox d-inline">
                            <input type="checkbox" class="custom-control-input packageDays" id="customCheck5">
                            <label class="custom-control-label" for="customCheck5">Wednesday</label>
                        </div>
                        <div class="custom-control custom-checkbox d-inline">
                            <input type="checkbox" class="custom-control-input packageDays" id="customCheck6">
                            <label class="custom-control-label" for="customCheck6">Thursday</label>
                        </div>
                        <div class="custom-control custom-checkbox d-inline">
                            <input type="checkbox" class="custom-control-input packageDays" id="customCheck7">
                            <label class="custom-control-label" for="customCheck7">Friday</label>
                        </div>
                        <div class="custom-control custom-checkbox d-inline">
                            <input type="checkbox" class="custom-control-input packageDays" id="customCheck8">
                            <label class="custom-control-label" for="customCheck8">Saturday</label>
                        </div>
                    </div>
                </div>

                <div class="form-group row slot_day" style="display: none;" id="slot_sunday">
                    <label class="col-sm-12 col-md-2 pt-0 pb-0 col-form-label">Sunday Slots</label>
                    <div class="col-sm-12 col-md-10 d-flex justify-content-left align-item-center" id="slot_div_sunday">
                    </div>
                </div>

                <div class="form-group row slot_day" style="display: none;" id="slot_monday">
                    <label class="col-sm-12 col-md-2 pt-0 pb-0 col-form-label">Monday Slots</label>
                    <div class="col-sm-12 col-md-10 d-flex justify-content-left align-item-center" id="slot_div_monday">
                    </div>
                </div>

                <div class="form-group row slot_day" style="display: none;" id="slot_tuesday">
                    <label class="col-sm-12 col-md-2 pt-0 pb-0 col-form-label">Tuesday Slots</label>
                    <div class="col-sm-12 col-md-10 d-flex justify-content-left align-item-center"
                        id="slot_div_tuesday"></div>
                </div>

                <div class="form-group row slot_day" style="display: none;" id="slot_wednesday">
                    <label class="col-sm-12 col-md-2 pt-0 pb-0 col-form-label">Wednesday Slots</label>
                    <div class="col-sm-12 col-md-10 d-flex justify-content-left align-item-center"
                        id="slot_div_wednesday"></div>
                </div>

                <div class="form-group row slot_day" style="display: none;" id="slot_thursday">
                    <label class="col-sm-12 col-md-2 pt-0 pb-0 col-form-label">Thursday Slots</label>
                    <div class="col-sm-12 col-md-10 d-flex justify-content-left align-item-center"
                        id="slot_div_thursday"></div>
                </div>

                <div class="form-group row slot_day" style="display: none;" id="slot_friday">
                    <label class="col-sm-12 col-md-2 pt-0 pb-0 col-form-label">Friday Slots</label>
                    <div class="col-sm-12 col-md-10 d-flex justify-content-left align-item-center" id="slot_div_friday">
                    </div>
                </div>

                <div class="form-group row slot_day" style="display: none;" id="slot_saturday">
                    <label class="col-sm-12 col-md-2 pt-0 pb-0 col-form-label">Saturday Slots</label>
                    <div class="col-sm-12 col-md-10 d-flex justify-content-left align-item-center"
                        id="slot_div_saturday"></div>
                </div>


                <div>

                    <input class="btn btn-primary" type="submit" value="Submit" id="submit" />

                </div>

            </form>
            <div class="collapse collapse-box" id="basic-form1">
                <div class="code-box">
                    <div class="clearfix">
                        <a href="javascript:;" class="btn btn-primary btn-sm code-copy pull-left"
                            data-clipboard-target="#copy-pre"><i class="fa fa-clipboard"></i> Copy Code</a>
                        <a href="#basic-form1" class="btn btn-primary btn-sm pull-right" rel="content-y"
                            data-toggle="collapse" role="button"><i class="fa fa-eye-slash"></i> Hide Code</a>
                    </div>
                    <pre><code class="xml copy-pre" id="copy-pre"></code></pre>
                </div>
            </div>
        </div>
        <!-- Default Basic Forms End -->
    </div>
    
</div>



{{template "footer.html"}}
<script>
    function checkNameLength() {
        var nameInput = document.getElementById('name');
        var nameValue = nameInput.value.trim(); // Trim to remove leading/trailing spaces

        if (nameValue.length > 3) {
            // The name is valid
            nameInput.classList.remove('form-control-danger'); // Remove danger class
            nameInput.classList.add('form-control-success'); // Add success class
        } else {
            // The name is too short
            nameInput.classList.remove('form-control-success'); // Remove success class
            nameInput.classList.add('form-control-danger'); // Add danger class
        }
    }
</script>

<script>
    function checkPriceLength() {
        var priceInput = document.getElementById('price');
        var priceValue = priceInput.value.trim(); // Trim to remove leading/trailing spaces

        if (/^\d+$/.test(priceValue)) {
            // The input is a valid integer
            priceInput.classList.remove('form-control-danger'); // Remove danger class
            priceInput.classList.add('form-control-success'); // Add success class
        } else {
            // The input is not a valid integer
            priceInput.classList.remove('form-control-success'); // Remove success class
            priceInput.classList.add('form-control-danger'); // Add danger class
        }
    }
</script>

<script>
    $(document).ready(function () {

        $.ajax({
            url: '/admin/get/branch',
            method: 'GET',
            dataType: 'json',
            success: function (res) {
                // The "data" variable contains the data received from the server
                // You can now append the data to the <select> element

                $("#branchSelect").html('');
                appendDataToSelect(res.data);
            },
            error: function () {
                console.error('Failed to retrieve data from the server');
            }
        });


        function appendDataToSelect(data) {
            const element = "<option value=''>Select Branch</option>";
            $("#branchSelect").append(element);
            for (let index = 0; index < data.length; index++) {
                var element_other = "<option value='" + data[index].ID + "'>" + data[index].Branch_name + "</option>";
                $("#branchSelect").append(element_other);
                console.log(element_other);
            }
        }



        // Function to close all slots for a specific day
        function closeAllSlots(day) {
            $("#slot_div_" + day).html(''); // Clear the slots for the specified day
        }

        // Function to show the slots container for a specific day
        function showSlotsContainer(day) {
            $("#slot_" + day).show(); // Show the slots container for the specified day
        }

        // Function to hide the slots container for a specific day
        function hideSlotsContainer(day) {
            $("#slot_" + day).hide(); // Hide the slots container for the specified day
        }

        // When the "All" checkbox is clicked
        $('#customCheck1').change(function () {
            var allChecked = this.checked;
            // Check or uncheck all the checkboxes with the class 'packageDays'
            $('.packageDays').prop('checked', allChecked);

            // Handle slots for all selected days
            $('.packageDays').each(function () {
                var checkboxId = $(this).attr('id');
                var dayName = $('label[for="' + checkboxId + '"]').text().toLowerCase();
                if (dayName !== 'all days') {
                    if (allChecked) {
                        sendCheckboxStateToAPI(dayName);
                        showSlotsContainer(dayName);
                    } else {
                        closeAllSlots(dayName);
                        hideSlotsContainer(dayName); // Hide the slots container when unchecked
                    }
                }
            });
        });

        // When any of the other checkboxes are clicked
        $('.packageDays').change(function () {
            // Check if all checkboxes with the class 'packageDays' are checked
            if ($('.packageDays:checked').length === $('.packageDays').length) {
                // Check the "All" checkbox
                $('#customCheck1').prop('checked', true);
            } else {
                // Uncheck the "All" checkbox
                $('#customCheck1').prop('checked', false);
            }

            // Handle slots for the specific day
            var checkboxId = $(this).attr('id');
            var dayName = $('label[for="' + checkboxId + '"]').text().toLowerCase();
            if ($(this).is(':checked')) {
                // Show slots for the selected day
                sendCheckboxStateToAPI(dayName);
                showSlotsContainer(dayName);
            } else {
                // Remove slots for the unselected day
                closeAllSlots(dayName);
                hideSlotsContainer(dayName); // Hide the slots container when unchecked
            }
        });

        function sendCheckboxStateToAPI(selectedDays) {
            var payload = {
                "day": [selectedDays] // Send the array of selected days
            }

            // Make an AJAX request to your API with the updated payload
            $.ajax({
                type: 'POST',
                url: '/admin/get/slot/by/day',

                data: JSON.stringify(payload),
                contentType: 'application/json',
                success: function (response) {
                    var data = response.data;

                    for (var day in data) {
                        var slot_div = $("#slot_div_" + day);
                        slot_div.html(''); // Clear slots for the current day

                        var current_day_slot_data = data[day];
                        for (let j = 0; j < current_day_slot_data.length; j++) {
                            var slotData = current_day_slot_data[j];

                            if (slotData.PSR_id > 0) {
                                var checkbox_disabled = "disabled";
                                var onClickString = "onclick='alert(\"this slot is already occupied by s\")'";

                            } else {
                                var checkbox_disabled = "";

                            }
                            var current_cb = "<div class='custom-control custom-checkbox d-inline' " + onClickString + "><input " + checkbox_disabled + " data-value= '" + slotData.ID + "' type='checkbox' class='custom-control-input packageDays' id='" + day + "_slot_check_box_" + slotData.ID + "' data-branch-id='" + slotData.Branch_id + "' data-start-time='" + slotData.Start_time + "' data-end-time='" + slotData.End_time + "' ><label class='custom-control-label' for='" + day + "_slot_check_box_" + slotData.ID + "'></label>" + slotData.Start_time + " - " + slotData.End_time + " </div>";
                            slot_div.append(current_cb);
                        }
                    }
                },
                error: function (error) {

                }
            });
        }
    });
</script>
<script>
    $(document).ready(function () {
        $("#package_form").submit(function (event) {
            event.preventDefault();

            // Get the selected slot data-values
            var selectedDataValues = [];
            $('.packageDays:checked').each(function () {
                var checkbox = $(this);
                var dataValue = checkbox.data('value');
                if (dataValue) {
                    selectedDataValues.push(JSON.stringify(dataValue));
                }
            });

            // Now you have an array containing all the data-values of checked checkboxes
            console.log('Selected Data Values:', selectedDataValues);

            var formData = {
                name: $("#name").val(),
                price: parseFloat($("#price").val()),
                branch_id: parseInt($("#branchSelect").val()),
                status: parseInt($("#status_branch").val()),
                slot_id: selectedDataValues // Include the selected slot data, including ID
            };


            // Now you have access to the selected slot IDs and their data
            console.log('Selected Slots:', formData);

            $.ajax({
                type: "POST",
                url: "/admin/add/package",
                data: JSON.stringify(formData),
                contentType: "application/json", // Set the content type to JSON
                dataType: "json",
            }).done(function (data) {
                
                Swal.fire({
                        title: 'Good job!',
                        text: 'Form submitted successfully!',
                        icon: 'success',
                        showCancelButton: true,
                        confirmButtonClass: 'btn btn-success',
                        cancelButtonClass: 'btn btn-danger',
                        allowOutsideClick: false,
                    }).then((result) => {
                        // Check if the user clicked "OK"
                        if (result.isConfirmed) {
                            // Redirect the user to "/user"
                            window.location.href = "/packages";
                        } else if (result.isDismissed) {
                            // Handle the case when the user clicks "Cancel"
                            window.location.href = "/packages";
                        }
                    });
                }).fail(function (data) {
                    // Trigger SweetAlert error message on AJAX failure
                    console.log(data.responseJSON.message);
                    var message = data.responseJSON.message || 'Something went wrong!';
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: message,
                    });
                });
            });
        });
    
</script>