{{template "header.html"}}

<div class="card-box pb-10">
    <!-- Export Datatable start -->
    <div class="card-box mb-30">
        <div class="pd-20">
            <!-- <h4 class="text-blue h4">Data Table with Export Buttons</h4> -->
        </div>
        <div class="pb-20">
            <table class="table hover multiple-select-row data-table-export nowrap" id="allpackagetable">
                <thead>
                    <tr>
                        <th>Sn.</th>
                        <th class="table-plus datatable-nosort">Package Name</th>
                        <th>Charges</th>
                        <th>Branch ID</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <!-- Export Datatable End -->

    {{template "footer.html"}}