{{template "header.html"}}

<div class="card-box pb-10">
    <!-- Export Datatable start -->
    <div class="card-box mb-30">
        <div class="pd-20">
            <!-- <h4 class="text-blue h4">Data Table with Export Buttons</h4> -->
        </div>
        <div class="pb-20">
            <table class="table hover multiple-select-row data-table-export nowrap" id="allbranchstable">
                <thead>
                    <tr>
                        <th>Sn.</th>
                        <th>Branch Name</th>
                        <th>Branch Address</th>
                        <th>Branch Email</th>
                        <th>Branch Contact Number</th>
                        <th>Gst Number</th>
                        <th>Status</th>
                        <th>Ground Size</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

{{template "footer.html"}}

<script>
    $(document).ready(function () {
        // Initialize DataTable
        var table = $('#allbranchstable').DataTable();
        // Make an AJAX request to fetch data from the URL
        $.ajax({
            url: '/admin/active/branch', // Adjust the URL to match your API endpoint
            method: 'GET',
            dataType: 'json',
            success: function (response) {
                console.log(response);
                // Iterate through the data and append it to the table
                $.each(response.data, function (index, branchs) {
                    // Determine the button content based on the "Status"
                    var button;
                    if (branchs.Status == "1") {
                        button = "<button type='button' class='btn btn-outline-success'>Active</button>";
                    } else {
                        button = "<button type='button' class='btn btn-outline-danger'>Disable</button>";
                    }
                    var action = '<div class="dropdown">' +
                        '<a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="/view/package/' + branchs.ID + '" role="button" data-toggle="dropdown">' +
                        '<i class="dw dw-more"></i>' +
                        '</a>' +
                        '<div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">' +
                        '<a class="dropdown-item" href="update/branch?id=' + branchs.ID + '"><i class="dw dw-edit2"></i> Edit</a>' +
                        // '<a class="dropdown-item" href="/all/branch" onclick="deleteBranch(' + branchs.ID + '); event.preventDefault();"><i class="dw dw-delete-3"></i> Delete</a>' + 
                        '</div>' +
                        '</div>';

                    // Create a new row and append it to the table
                    table.row.add([
                        index + 1, // Sn.
                        branchs.Branch_name,
                        branchs.Branch_address,
                        branchs.Branch_email,
                        branchs.Branch_contact_number,
                        branchs.GST_no,
                        button,
                        branchs.Ground_Size,
                        action
                    ]);
                });

                // Refresh the table to apply the changes
                table.draw();
            },
            error: function (error) {
                console.error('Error fetching data: ' + error);
            }
        });
    });
    // function deleteBranch(Id) {
    //     var row_id = Id;

    //     $.ajax({
    //         url: "/admin/delete/branch/" + Id,
    //         method: "DELETE",
    //     }).done(function (data) {
    //         Swal.fire({
    //             title: 'Deleted!',
    //             text: 'Branch Deleted successfully!',
    //             icon: 'success',
    //             showCancelButton: false,
    //             allowOutsideClick: false,
    //             timer: 10000,
    //         }).then((result) => {
    //             // Check if the user clicked "OK"
    //             if (result.isConfirmed) {
                   
    //                 // Redirect the user to "/user"
                    
    //              window.location.href = "/all/branch";
    //             } else if (result.isDismissed) {
                    
    //                 // Handle the case when the user clicks "Cancel"
    //                  window.location.href = "/all/branch";
    //             }
    //         });
    //     }).fail(function (data) {
    //         // Trigger SweetAlert error message on AJAX failure
    //         console.log(data.responseJSON.message);
    //         var message = data.responseJSON.message || 'Something went wrong!';
    //         Swal.fire({
    //             icon: 'error',
    //             title: 'Oops...',
    //             text: message,
    //         });
    //     });
    // }
</script>
</body>

</html>