{{template "header.html"}}
        <div class="pd-ltr-20 xs-pd-20-10">
            <div class="min-height-200px">
                <div class="page-header">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="title">
                                <h4>Form</h4>
                            </div>
                            <nav aria-label="breadcrumb" role="navigation">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="/dashboard">Home</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">
                                        Form Basic
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    
                    </div>
                </div>
                <!-- Default Basic Forms Start -->
                <div class="pd-20 card-box mb-30">
                    <div class="clearfix">
                        <div class="pull-left">
                            <h4 class="text-blue h4">Carousel</h4>
                            
                        </div>
                        <!-- <div class="pull-right">
                            <a
                                href="#basic-form1"
                                class="btn btn-primary btn-sm scroll-click"
                                rel="content-y"
                                data-toggle="collapse"
                                role="button"
                                ><i class="fa fa-code"></i> Source Code</a
                            >
                        </div> -->
                    </div>
                    <form  id = "branch_form">
                        
                        
                        
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Image</label>
                            <div class="col-sm-12 col-md-10">
                                <input
                                    id="image"
                                    class="form-control"
                                    placeholder="Image Here"
                                    type="file" 
                                    onchange="checkImageValidation(this)"
                                />
                                <span id="imageError" style="color: red;"></span>
                            </div>
                        </div>
        
                       

                        <div>
                           
                            <button type="submit" class="btn btn-primary"  id="submit">Submit</button>
                                
                        </div>
                       
                    </form>
                    <div class="card-box pb-10">
                        <!-- Export Datatable start -->
                        <div class="card-box mb-30">
                            <div class="pd-20">
                                <!-- <h4 class="text-blue h4">Data Table with Export Buttons</h4> -->
                            </div>
                            <div class="pb-20">
                                <table class="table hover multiple-select-row data-table-export nowrap" id="image">
                                    <thead>
                                        <tr>
                                            
                                            <th>Image</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    <div class="collapse collapse-box" id="basic-form1">
                        <div class="code-box">
                            <div class="clearfix">
                                <a
                                    href="javascript:;"
                                    class="btn btn-primary btn-sm code-copy pull-left"
                                    data-clipboard-target="#copy-pre"
                                    ><i class="fa fa-clipboard"></i> Copy Code</a
                                >
                                <a
                                    href="#basic-form1"
                                    class="btn btn-primary btn-sm pull-right"
                                    rel="content-y"
                                    data-toggle="collapse"
                                    role="button"
                                    ><i class="fa fa-eye-slash"></i> Hide Code</a
                                >
                            </div>
                            <pre><code class="xml copy-pre" id="copy-pre">

                        </code></pre>
                        </div>
                    </div>
                </div>
                <!-- Default Basic Forms End -->
            </div>
           
        </div>


   
    {{template "footer.html"}}

    <script>
        $(document).ready(function() {
          $("#branch_form").submit(function(event) {
            event.preventDefault();
      
            var formData = new FormData();
            var imageInput = $('#image')[0];
            if (imageInput.files.length > 0) {
              formData.append("image", imageInput.files[0]);
            }
      
            $.ajax({
              type: "POST",
              url: "/admin/carousel/add",
              data: formData,
              contentType: false,
              processData: false, // Set processData to false to prevent jQuery from transforming the data into a query string
            }).done(function(data) {
                Swal.fire({
                    title: 'Good job!',
                    text: 'Carousel submitted successfully!',
                    icon: 'success',
                    showCancelButton: true,
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger',
                    allowOutsideClick: false,
                }).then((result) => {
                    // Check if the user clicked "OK"
                    if (result.isConfirmed) {
                        // Redirect the user to "/user"
                        window.location.href = "/carousel";
                    } else if (result.isDismissed) {
                        // Handle the case when the user clicks "Cancel"
                        window.location.href = "/carousel";
                    }
                });
            }).fail(function (data) {
                // Trigger SweetAlert error message on AJAX failure
                console.log(data.responseJSON.message);
                var message = data.responseJSON.message || 'Something went wrong!';
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: message,
                });
            });
        });
    });
    </script>
    <script>
        $(document).ready(function() {
            
            CarouselTable();
        });
    
        function CarouselTable() {
            $.ajax({
                url: "/admin/carousel/get",
                method: "GET",
                dataType: "json",
                success: function (response) {
                    if (response && response.data) {
                        
                        displayadmin(response.data);

                    }
                },
                error: function(xhr, status, error) {
                    console.error(error);
                }
            });
        }
        function displayadmin(carousel) {
          
            var tableBody = $('#image tbody');
            tableBody.empty();
    
            carousel.forEach(function (carousels) {
                var row = $('<tr></tr>');
                var viewImageCell = $('<td></td>');
                viewImageCell.append('<a href="javascript:void(0);" class="testimonial-image" data-testimonial-id="' + carousels.ID + '">View Image</a>');
                row.append(viewImageCell);
                var Status = '';
                if (carousels.Status === "1") {
                    Status = 'Enable';
                } else{
                    Status = 'Disable';
                }
                row.append('<td>' + Status + '</td');
               
                row.append('<td><div class="table-actions"><a href="/update/carousel?id=' + carousels.ID + '" data-color="#265ed7"><i class="icon-copy dw dw-edit2"></i></a><a href="/carousel" onclick="deleteCarousel(' + carousels.ID + ');" data-color="#e95959"><i class="icon-copy dw dw-delete-3"></i></a></div></td>');
    
                
                tableBody.append(row);
            });
            $('body').on('click', '.testimonial-image', function() {
                var $aElement = $(this);
                var carouselId = $aElement.data('testimonial-id');
                console.log('Testimonial ID:', carouselId);
                var imageUrl = 'http://localhost:8080/admin/get/image/active/' + carouselId;
                window.open(imageUrl, '_blank');
            });
        };
        

        function deleteCarousel(Id) {
            var row_id = Id;
            
            
            $.ajax({
                url: "/admin/delete/carousel/" + Id,
                method: "DELETE",
                success: function (response) {
                    var rowid = 'rowN' + row_id;
                    alert(rowid);
                    var rowElement = document.getElementById(rowid);
                    if (rowElement) {
                        rowElement.style.display = 'none';
                        alert("Carousel with ID: " + Id + " deleted successfully");
                    }
                },
                error: function (xhr, status, error) {
                    console.error(error);
                    alert("Error deleting Carousel with ID: " + Id);
                }
            });
        }
        function checkImageValidation(input) {
        var file = input.files[0];
        var imageError = document.getElementById('imageError');
        
        if (!file) {
            imageError.textContent = "No file selected.";
            return;
        }

        var allowedExtensions = /(\.jpg|\.jpeg|\.png|\.gif)$/i;
        if (!allowedExtensions.exec(file.name)) {
            imageError.textContent = "Invalid file type. Please select a JPG, JPEG, PNG, or GIF file.";
            input.value = '';
            return;
        }

        var maxSizeInBytes = 5e+6; // 5MB
        if (file.size > maxSizeInBytes) {
            imageError.textContent = "File size is too large. Please select a file smaller than 5MB.";
            input.value = '';
            return;
        }

        // Clear error message if file is valid
        imageError.textContent = '';
    }
       
      
       
       
        
    </script>  
      

</body>
</html>

    