</div>

<!-- js -->
<script src="https://dropways.github.io/deskapp/vendors/scripts/core.js"></script>
<script src="https://dropways.github.io/deskapp/vendors/scripts/script.min.js"></script>
<script src="https://dropways.github.io/deskapp/vendors/scripts/process.js"></script>
<script src="https://dropways.github.io/deskapp/vendors/scripts/layout-settings.js"></script>
<script src="https://dropways.github.io/deskapp/src/plugins/apexcharts/apexcharts.min.js"></script>
<script src="https://dropways.github.io/deskapp/src/plugins/datatables/js/jquery.dataTables.min.js"></script>
<script src="https://dropways.github.io/deskapp/src/plugins/datatables/js/dataTables.bootstrap4.min.js"></script>
<script src="https://dropways.github.io/deskapp/src/plugins/datatables/js/dataTables.responsive.min.js"></script>
<script src="https://dropways.github.io/deskapp/src/plugins/datatables/js/responsive.bootstrap4.min.js"></script>
<script src="https://dropways.github.io/deskapp/vendors/scripts/dashboard3.js"></script>
<script src="https://dropways.github.io/deskapp/src/plugins/apexcharts/apexcharts.min.js"></script>
<script src="https://dropways.github.io/deskapp/src/plugins/datatables/js/dataTables.buttons.min.js"></script>
<script src="https://dropways.github.io/deskapp/src/plugins/datatables/js/buttons.bootstrap4.min.js"></script>
<script src="https://dropways.github.io/deskapp/src/plugins/datatables/js/buttons.print.min.js"></script>
<script src="https://dropways.github.io/deskapp/src/plugins/datatables/js/buttons.html5.min.js"></script>
<script src="https://dropways.github.io/deskapp/src/plugins/datatables/js/buttons.flash.min.js"></script>
<script src="https://dropways.github.io/deskapp/src/plugins/datatables/js/pdfmake.min.js"></script>
<script src="https://dropways.github.io/deskapp/src/plugins/datatables/js/vfs_fonts.js"></script>
<script src="https://dropways.github.io/deskapp/vendors/scripts/datatable-setting.js"></script>
<script src="https://dropways.github.io/deskapp/src/plugins/jQuery-Knob-master/jquery.knob.min.js"></script>
<script src="https://dropways.github.io/deskapp/vendors/scripts/knob-chart-setting.js"></script>



<script>

    $(document).ready(function () {
        // Add a click event handler to the logout button
        $("#logout").on("click", function (event) {
            event.preventDefault();

            // Send an AJAX request to the logout endpoint on your server
            $.ajax({
                type: "POST", // You may use GET or POST depending on your server implementation
                url: "/admin/logout", // Replace with the actual logout URL
                success: function (data) {
                    // Clear any local session-related data if needed
                    // For example: localStorage.removeItem("userToken");

                    // Redirect the user to a login page or perform any other actions
                    // You can replace "your-login-page.html" with the actual URL of your login page
                    window.location.href = "/admin/login";
                },
                error: function (error) {
                    // Handle any errors that may occur during the logout process
                    console.error("Logout failed: " + error.statusText);
                }
            });
        });
    });

</script>
<script>
    $(document).ready(function () {

        var super_role;

        function setCookie(name, value) {
            document.cookie = name + "=" + value + "; path=/";
        }

        // Function to get the value of a cookie by name
        function getCookie(name) {
            var cookieValue = document.cookie.match('(^|;)\\s*' + name + '\\s*=\\s*([^;]+)');
            return cookieValue ? cookieValue.pop() : '';
        }

        // Function to set the selected branch based on the cookie
        function setSelectedBranchFromCookie() {
            var selectedBranchCookie = getCookie("selectedBranch");
            if (selectedBranchCookie) {
                $("#status").val(selectedBranchCookie);
            }
        }


        $.ajax({
            url: "/admin/data/login", // Replace with your actual API endpoint
            method: "GET",
            dataType: "json",
            success: function (response) {
                console.log(response)

                var authorization = response.data.Authorization;
                console.log(response.data.Authorization);
                super_role = response.data.Role;


                // Check if the Authorization field is a non-empty string
                if (authorization && typeof authorization === "string" && authorization.length > 2) {
                    // Extract the values inside {}
                    var matches = authorization.match(/\{(.+?)\}/);

                    if (matches && matches[1]) {
                        var authorizationArray = matches[1].split(",");

                        // Iterate over the authorization values
                        authorizationArray.forEach(function (value) {
                            var authId = "auth_" + value.trim(); // Construct the id to match

                            // Find the corresponding <li> element and display it
                            var $authElement = $("#" + authId);
                            $authElement.show();
                        });
                    }

                }

            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });

        // if (super_role == 1) {
        //             document.getElementById('dashboardLink').style.display = 'block';
        //             document.getElementById('adminDashboardLink').style.display = 'none';
        //         } else if (super_role == 2) {
        //             document.getElementById('dashboardLink').style.display = 'none';
        //             document.getElementById('adminDashboardLink').style.display = 'block';
        //         }
        function setNewBranch() {
            var selectElement = document.getElementById("status");
            var selectedOption = selectElement.options[selectElement.selectedIndex];
            var selectedBranch = selectedOption.value;

            console.log(selectedBranch);


            $.ajax({
                url: "/admin/set/id/branch",
                method: "POST",
                data: { Branch_Name: selectedBranch },

                success: function (data) {
                    
                    setCookie("selectedBranch", selectedBranch);
                    // location.href = location.href;
                    location.reload();

                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        }

        // Dynamically set the onchange attribute
        $("#status").on("change", function () {
            setNewBranch();
            //location.reload(); // Call the setNewBranch function on change

            // You can add additional logic here if needed
        });


        $.ajax({
            url: "http://localhost:8080/admin/get/branch", // Replace with your actual API endpoint
            method: "GET",
            dataType: "json",
            success: function (response) {
                if (response.status === 200) {
                    var branches = response.data;

                    if (super_role == 1) {

                        $(".super_branch_div").show();
                    } else {
                        $(".super_branch_div").hide();
                    }

                    var select = $('#status'); // Assuming 'status' is the ID of your dropdown

                    branches.forEach(function (branch) {


                        var option = $('<option>', {
                            value: branch.Branch_name,
                            text: branch.Branch_name

                        });
                        select.append(option);

                    });
                    setSelectedBranchFromCookie();
                } else {
                    console.error("Failed to retrieve data.");
                }
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });

        //     function setNewBranch() {
        //         function getCookie(name) {
        //             const cookieString = document.cookie;
        //             const cookies = cookieString.split(';');
        //             console.log("test")

        //             for (let i = 0; i < cookies.length; i++) {
        //                 const cookie = cookies[i].trim();
        //                 if (cookie.startsWith(name + '=')) {
        //                     // Extract and return the value of the cookie
        //                     return cookie.substring(name.length + 1);
        //                 }
        //             }

        //             // If the cookie is not found, return null or an appropriate default value
        //             return null;
        //         }

        //         // Usage to get the "Role" cookie value
        //         const roleCookieValue = getCookie('Role');
        //         console.log("tyryfg", roleCookieValue)

        //         if (roleCookieValue !== 1) {
        //             // The "Role" cookie exists, and you can use its value
        //             return false;
        //         }



        //         var selectElement = document.getElementById("status");
        //         var selectedOption = selectElement.options[selectElement.selectedIndex];
        //         var selectedBranch = selectedOption.value;

        //         $.ajax({
        //             url: "/admin/set/id/branch",
        //             method: "POST",
        //             data: { Branch_Name: selectedBranch }, // Include the selected branch data
        //             dataType: "json",
        //             success: function (data) {
        //                 // Handle the response from the second API request
        //                 console.log(data);
        //             },
        //             error: function (xhr, status, error) {
        //                 console.error(error);
        //             }
        //         });
        //     }

    });
</script>
<script>
    $(document).ready(function () {
        // Make an AJAX request to fetch the admin's profile
        $.ajax({
            url: "/admin/profile", // Replace with the actual API endpoint
            method: "GET",
            dataType: 'json',
            success: function (data) {
                var admin = data.Data[0];
                console.log(admin.Name);
                $('#admin-name .user-name').text(admin.Name); // Set the text of the .user-name element
            },
            error: function (error) {
                $('#admin-name .user-name').text("Admin Name Not Found");
            }
        });
    });

</script>
<script>
    function convertTo24HourFormat(time12h) {
        const date = new Date("2000-01-01 " + time12h); // Use a common date for all times to ensure consistency
        const options = { hour: '2-digit', minute: '2-digit', hour12: false };
        return date.toLocaleTimeString('en-US', options);
    }
</script>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NXZMQSS" height="0" width="0"
        style="display: none; visibility: hidden"></iframe></noscript>



<!-- End Google Tag Manager (noscript) -->