{{template "header.html"}}
        <div class="pd-ltr-20 xs-pd-20-10">
            <div class="min-height-200px">
                
                <!-- Default Basic Forms Start -->
                <div class="pd-20 card-box mb-30">
                    <div class="clearfix">
                        
                        <!-- <div class="pull-right">
                            <a
                                href="#basic-form1"
                                class="btn btn-primary btn-sm scroll-click"
                                rel="content-y"
                                data-toggle="collapse"
                                role="button"
                                ><i class="fa fa-code"></i> Source Code</a
                            >
                        </div> -->
                    </div>
                    <div class="card-box pb-10">
                        <div class="pull-left">
                            <h4 class="text-blue h4">Carousel Content</h4>
                            
                        </div>
                        <div class="card-box mb-30">
                            <div class="pd-20">
                                <!-- <h4 class="text-blue h4">Data Table with Export Buttons</h4> -->
                            </div>
                            
                            <div class="pb-20">
                               
                                <table class="table hover multiple-select-row data-table-export nowrap" id="update_content">
                                    <thead>
                                        <tr>
                                            <th>Sn.</th>
                                            <th>Heading</th>
                                            <th>SubHeading</th>
                                            <th>button</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    
                    </div>
                        <div class="card-box pb-10">
                            <div class="pull-left">
                                <h4 class="text-blue h4">Other Content</h4>
                                
                            </div>
                            <div class="card-box mb-30">
                                <div class="pd-20">
                                    <!-- <h4 class="text-blue h4">Data Table with Export Buttons</h4> -->
                                </div>
                                <div class="pb-20">
                                    <table class="table hover multiple-select-row data-table-export nowrap" id="update_other">
                                        <thead>
                                            <tr>
                                                <th>Sn.</th>
                                                <th>Slider</th>
                                                <th>Testimonial</th>
                                                <th>Footer</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                  
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        
                        
                        <!-- <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Branch Status</label>
                            <div class="col-sm-12 col-md-10">
                                <input class="form-control" value="100" type="number" />
                            </div>
                        </div> -->
        
                       

                       
                       
                    
                    <div class="collapse collapse-box" id="basic-form1">
                        <div class="code-box">
                            <div class="clearfix">
                                <a
                                    href="javascript:;"
                                    class="btn btn-primary btn-sm code-copy pull-left"
                                    data-clipboard-target="#copy-pre"
                                    ><i class="fa fa-clipboard"></i> Copy Code</a
                                >
                                <a
                                    href="#basic-form1"
                                    class="btn btn-primary btn-sm pull-right"
                                    rel="content-y"
                                    data-toggle="collapse"
                                    role="button"
                                    ><i class="fa fa-eye-slash"></i> Hide Code</a
                                >
                            </div>
                            <pre><code class="xml copy-pre" id="copy-pre">

                        </code></pre>
                        </div>
                    </div>
                </div>
                <!-- Default Basic Forms End -->
            </div>
          
        </div>


   
    {{template "footer.html"}}
    
<script>
    $(document).ready(function () {
        // Initialize DataTable
        var table = $('#update_other').DataTable();
        // Make an AJAX request to fetch data from the URL
        $.ajax({
            url: '/admin/heading/get',
            method: 'GET',
            dataType: 'json',
            success: function (response) {
                // Iterate through the data and append it to the table
                $.each(response.data, function (index, packages) {
                    
                    // Determine the button content based on the "Status"
                    var button;
                    if (packages.Status === "1") {
                        button = "<button type='button' class='btn btn-outline-success'>Enable</button>";
                    } else {
                        button = "<button type='button' class='btn btn-outline-danger'>Disable</button>";
                    }
                    var action = '<div class="dropdown">' +
                        '<a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="/update/other/content' + packages.ID + '" role="button" data-toggle="dropdown">' +
                        '<i class="dw dw-more"></i>' +
                        '</a>' +
                        '<div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">' +
                        '<a class="dropdown-item" href="/update/other/content?id=' + packages.ID + '"><i class="dw dw-edit2"></i> Edit</a>' +
                        '<a class="dropdown-item" href="/other" onclick="deleteothercontent(' + packages.ID + ');"><i class="dw dw-delete-3"></i> Delete</a>' +
                        '</div>' +
                        '</div>'

                       
                    // Create a new row and append it to the table
                    table.row.add([
                        index + 1, // Sn.
                        packages.Slider, // Package Name
                        packages.Testimonials, // Charges
                        packages.Footer, // Branch ID
                        button, // Status button
                        action, // Status

                    ]);
                });

                // Refresh the table to apply the changes
                table.draw();
            },
            error: function (error) {
                console.error('Error fetching data: ' + error);
            }
        });
    });
    function deleteothercontent(Id) {
        var row_id = Id;
        
        
        $.ajax({
            url: "/admin/heading/delete/" + Id,
            method: "DELETE",
            success: function (response) {
                var rowid = 'rowN' + row_id;
                alert(rowid);
                var rowElement = document.getElementById(rowid);
                if (rowElement) {
                    rowElement.style.display = 'none';
                    alert("Content with ID: " + Id + " deleted successfully");
                }
            },
            error: function (xhr, status, error) {
                console.error(error);
                alert("Error deleting Content with ID: " + Id);
            }
        });
    }
    
</script>      
<script>
    $(document).ready(function () {
        // Initialize DataTable
        var table = $('#update_content').DataTable();
        // Make an AJAX request to fetch data from the URL
        $.ajax({
            url: '/admin/content/get',
            method: 'GET',
            dataType: 'json',
            success: function (response) {
                // Iterate through the data and append it to the table
                $.each(response.data, function (index, packages) {
                    
                    // Determine the button content based on the "Status"
                    var button;
                    if (packages.Status === "1") {
                        button = "<button type='button' class='btn btn-outline-success'>Enable</button>";
                    } else {
                        button = "<button type='button' class='btn btn-outline-danger'>Disable</button>";
                    }
                    var action = '<div class="dropdown">' +
                        '<a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="/update/content' + packages.ID + '" role="button" data-toggle="dropdown">' +
                        '<i class="dw dw-more"></i>' +
                        '</a>' +
                        '<div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">' +
                        '<a class="dropdown-item" href="/update/content?id=' + packages.ID + '"><i class="dw dw-edit2"></i> Edit</a>' +
                        '<a class="dropdown-item" href="/content" onclick="deleteContent(' + packages.ID + ');"><i class="dw dw-delete-3"></i> Delete</a>' +
                        '</div>' +
                        '</div>'

                       
                    // Create a new row and append it to the table
                    table.row.add([
                        index + 1, // Sn.
                        packages.Heading, // Package Name
                        packages.SubHeading, // Charges
                        packages.Button, // Branch ID
                        button, // Status button
                        action, // Status

                    ]);
                });

                // Refresh the table to apply the changes
                table.draw();
            },
            error: function (error) {
                console.error('Error fetching data: ' + error);
            }
        });
    });
    function deleteContent(Id) {
        var row_id = Id;
        
        
        $.ajax({
            url: "/admin/content/delete/" + Id,
            method: "DELETE",
            success: function (response) {
                var rowid = 'rowN' + row_id;
                alert(rowid);
                var rowElement = document.getElementById(rowid);
                if (rowElement) {
                    rowElement.style.display = 'none';
                    alert("Content with ID: " + Id + " deleted successfully");
                }
            },
            error: function (xhr, status, error) {
                console.error(error);
                alert("Error deleting Content with ID: " + Id);
            }
        });
    }
    
</script> 
</body>
</html>

    