{{template "header.html"}}
        <div class="pd-ltr-20 xs-pd-20-10">
            <div class="min-height-200px">
                <div class="page-header">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="title">
                                <h4>Form</h4>
                            </div>
                            <nav aria-label="breadcrumb" role="navigation">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="/dashborad">Home</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">
                                        Form Basic
                                    </li>
                                </ol>
                            </nav>
                        </div>
                        <div class="col-md-6 col-sm-12 text-right">
                            <div class="dropdown">
                                <a
                                    class="btn btn-secondary dropdown-toggle"
                                    href="#"
                                    role="button"
                                    data-toggle="dropdown"
                                >
                                    January 2018
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#">Export List</a>
                                    <a class="dropdown-item" href="#">Policies</a>
                                    <a class="dropdown-item" href="#">View Assets</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Default Basic Forms Start -->
                <div class="pd-20 card-box mb-30">
                   
                    <form  id = "update_form">
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Slider Heading</label>
                            <div class="col-sm-12 col-md-10">
                                <input id="slider" class="form-control" type="text" placeholder="Slider Heading Here" required
                                    onkeyup="checkSilderHeadingNameLength()" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Testimonial Heading</label>
                            <div class="col-sm-12 col-md-10">
                                <input id="testimonial" class="form-control" placeholder="Testimonial Heading Here" type="text" required
                                    onkeyup="checkTestimonialHeadingNameLength()" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Footer Heading</label>
                            <div class="col-sm-12 col-md-10">
                                <input id="footer" class="form-control" placeholder="Footer Heading Here" type="text" required
                                    onkeyup="checkFooterHeadingNameLength()" />
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Status</label>
                            <div class="col-sm-12 col-md-10">
                                <select class="custom-select col-12" id="stat">
                                    
                                    <option value="1">Enable</option>
                                    <option value="2">Disable</option>
                                    
                                    
                                </select>
                            </div>
                        </div>

                        <div>
                           
                            <input class="btn btn-primary" type="submit" value="Update" id="submit" />
                            
                        </div>
                       
                    </form>
                    <div class="collapse collapse-box" id="basic-form1">
                        <div class="code-box">
                            <div class="clearfix">
                                <a
                                    href="javascript:;"
                                    class="btn btn-primary btn-sm code-copy pull-left"
                                    data-clipboard-target="#copy-pre"
                                    ><i class="fa fa-clipboard"></i> Copy Code</a
                                >
                                <a
                                    href="#basic-form1"
                                    class="btn btn-primary btn-sm pull-right"
                                    rel="content-y"
                                    data-toggle="collapse"
                                    role="button"
                                    ><i class="fa fa-eye-slash"></i> Hide Code</a
                                >
                            </div>
                            <pre><code class="xml copy-pre" id="copy-pre">

                        </code></pre>
                        </div>
                    </div>
                </div>
                <!-- Default Basic Forms End -->
            </div>
            <div class="footer-wrap pd-20 mb-20 card-box">
                DeskApp - Bootstrap 4 Admin Template By
                <a href="https://github.com/dropways" target="_blank"
                    >Ankit Hingarajiya</a
                >
            </div>
        </div>


   
    {{template "footer.html"}}
<script>
    $(document).ready(function() {
        // Retrieve the user ID from the query parameter
        var Id = new URLSearchParams(window.location.search).get('id');
        
        if (Id) {
            getUserDetails(Id);
        }
    
        // Helper function to retrieve user details
        function getUserDetails(Id) {
            $.ajax({
                url: "/admin/heading/get/" + Id,
                method: "GET",
                dataType: "json",
                success: function(response) {
                    var user = response.data;
                    if (user) {
                        $('#slider').val(user.Slider);
                        $('#testimonial').val(user.Testimonials);
                        $('#footer').val(user.Footer);
                        $('#stat').val(user.Status);
                    }
                },
                error: function(xhr, status, error) {
                    console.error(error);
                }
            });
        }
        $("#update_form").submit(function(event) { 
            event.preventDefault();
            var formData = {
              Slider: $("#slider").val(),
              TestiMonials: $("#testimonial").val(),
              Footer: $("#footer").val(),
              Status: $('#stat').val(),
            
            };
      
            $.ajax({
                url: "/admin/heading/update/" + Id, // Update the URL as needed
                method: "PATCH", // Use PATCH method for updating
                data: JSON.stringify(formData),
                contentType: 'application/json',
                success: function(response) {
                    Swal.fire({
                        title: 'Updated!',
                        text: response.message || "Content updated successfully!",
                        icon: "success",
                        timer: 3000
                    }).then(
                        function () {
                            window.location.href = "/other";
                        },
                        // handling the promise rejection
                        function (dismiss) {
                            if (dismiss === 'timer') {
                                console.log('I was closed by the timer');
                            }
                        }
                    );
                },
                error: function (data) {
                    // Trigger SweetAlert error message on AJAX failure
                    console.log(data.responseJSON.message);
                    var message = data.responseJSON.message || 'Something went wrong!';
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: message,
                    });
                }
            });
          });
        });
        function checkSilderHeadingNameLength() {
        var nameInput = document.getElementById('slider');
        var nameValue = nameInput.value.trim(); // Trim to remove leading/trailing spaces

        if (nameValue.length > 3) {

            nameInput.classList.remove('form-control-danger'); // Remove danger class
            nameInput.classList.add('form-control-success'); // Add success class
        } else {

            nameInput.classList.remove('form-control-success'); // Remove success class
            nameInput.classList.add('form-control-danger'); // Add danger class
        }
    }
    function checkTestimonialHeadingNameLength() {
        var nameInput = document.getElementById('testimonial');
        var nameValue = nameInput.value.trim(); // Trim to remove leading/trailing spaces

        if (nameValue.length > 3) {

            nameInput.classList.remove('form-control-danger'); // Remove danger class
            nameInput.classList.add('form-control-success'); // Add success class
        } else {

            nameInput.classList.remove('form-control-success'); // Remove success class
            nameInput.classList.add('form-control-danger'); // Add danger class
        }
    }
    function checkFooterHeadingNameLength() {
        var nameInput = document.getElementById('footer');
        var nameValue = nameInput.value.trim(); // Trim to remove leading/trailing spaces

        if (nameValue.length > 3) {

            nameInput.classList.remove('form-control-danger'); // Remove danger class
            nameInput.classList.add('form-control-success'); // Add success class
        } else {

            nameInput.classList.remove('form-control-success'); // Remove success class
            nameInput.classList.add('form-control-danger'); // Add danger class
        }
    }
    
</script>   
</body>
</html>

    