{{template "header.html"}}
        <div class="pd-ltr-20 xs-pd-20-10">
            <div class="min-height-200px">
                <div class="page-header">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="title">
                                <h4>Form</h4>
                            </div>
                            <nav aria-label="breadcrumb" role="navigation">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="/login">Home</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">
                                        Form Basic
                                    </li>
                                </ol>
                            </nav>
                        </div>
                        <div class="col-md-6 col-sm-12 text-right">
                            <div class="dropdown">
                                <a
                                    class="btn btn-secondary dropdown-toggle"
                                    href="#"
                                    role="button"
                                    data-toggle="dropdown"
                                >
                                    January 2018
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#">Export List</a>
                                    <a class="dropdown-item" href="#">Policies</a>
                                    <a class="dropdown-item" href="#">View Assets</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Default Basic Forms Start -->
                <div class="pd-20 card-box mb-30">
                   
                    <form  id = "update_form">
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Package Name</label>
                            <div class="col-sm-12 col-md-10">
                                <input
                                id="name"
                                    class="form-control"
                                    type="text"
                                    placeholder="Package Name Here"
                                />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Package Charges</label>
                            <div class="col-sm-12 col-md-10">
                                <input
                                id = "charges"
                                    class="form-control"
                                    placeholder="Package Charges Here"
                                    type="text"
                                />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Branch Id</label>
                            <div class="col-sm-12 col-md-10">
                                <input
                                id="id"
                                    class="form-control"
                                    placeholder="Branch Here"
                                    type="number"
                                />
                            </div>
                        </div>
                      
                        
                        <!-- <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Branch Status</label>
                            <div class="col-sm-12 col-md-10">
                                <input class="form-control" value="100" type="number" />
                            </div>
                        </div> -->
        
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Status</label>
                            <div class="col-sm-12 col-md-10">
                                <select class="custom-select col-12" id="status">
                                    <option selected="">Choose...</option>
                                    <option value="1">Enable</option>
                                    <option value="2">Disable</option>
                                    
                                </select>
                            </div>
                        </div>

                        <div>
                           
                            <input class="btn btn-primary" type="submit" value="Update" id="submit" />
                            
                        </div>
                       
                    </form>
                    <div class="collapse collapse-box" id="basic-form1">
                        <div class="code-box">
                            <div class="clearfix">
                                <a
                                    href="javascript:;"
                                    class="btn btn-primary btn-sm code-copy pull-left"
                                    data-clipboard-target="#copy-pre"
                                    ><i class="fa fa-clipboard"></i> Copy Code</a
                                >
                                <a
                                    href="#basic-form1"
                                    class="btn btn-primary btn-sm pull-right"
                                    rel="content-y"
                                    data-toggle="collapse"
                                    role="button"
                                    ><i class="fa fa-eye-slash"></i> Hide Code</a
                                >
                            </div>
                            <pre><code class="xml copy-pre" id="copy-pre">

                        </code></pre>
                        </div>
                    </div>
                </div>
                <!-- Default Basic Forms End -->
            </div>
            <div class="footer-wrap pd-20 mb-20 card-box">
                DeskApp - Bootstrap 4 Admin Template By
                <a href="https://github.com/dropways" target="_blank"
                    >Ankit Hingarajiya</a
                >
            </div>
        </div>


   
    {{template "footer.html"}}
<script>
    $(document).ready(function() {
        // Retrieve the loan ID from the query parameter
        var Id = new URLSearchParams(window.location.search).get('id');
        
        if (Id) {
            BranchDetails(Id);
        }
    
        // Helper function to retrieve a specific cookie value by name
        function BranchDetails(Id) {
            $.ajax({
                url: "/admin/get/package/" + Id,
                method: "GET",
                dataType: "json",
                success: function(response) {
                    var branchs = response.data;
                    if (branchs) {
                        $('#name').val(branchs.Name);
                        $('#charges').val(branchs.Price);
                        $('#id').val(branchs.Branch_id);
                        $('#status').val(branchs.Status);
                        
                    }
                },
                error: function(xhr, status, error) {
                    console.error(error);
                }
            });
        }
    
        // Handle the form submission
        $('#update_form').submit(function(event) {
            event.preventDefault();
    
            var formData = {
                Name: $('#name').val(),
                Price:  $('#charges').val(),
                Branch_id: parseInt($('#id').val()),
               
                Status: $('#status').val(),
                

            };
    
            // Send the update request using a PATCH method
            $.ajax({
                url: "/admin/update/package/" + Id, // Update the URL as needed
                method: "PATCH", // Use PATCH method for updating
                data: JSON.stringify(formData),
                contentType: 'application/json',
                success: function(response) {
                    alert("Branch Details updated successfully!");
                    window.location.href = "/packages";
                },
                error: function(xhr, status, error) {
                    console.error(error);
                }
            });
        });
    });
</script>   
</body>
</html>

    