{{template "header.html"}}
<div class="pd-ltr-20 xs-pd-20-10">
    <div class="min-height-200px">
        <div class="page-header">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="title">
                        <h4>Form</h4>
                    </div>
                    <nav aria-label="breadcrumb" role="navigation">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/dashboard">Home</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Form Basic
                            </li>
                        </ol>
                    </nav>
                </div>
                <div class="col-md-6 col-sm-12 text-right">
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                            January 2018
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#">Export List</a>
                            <a class="dropdown-item" href="#">Policies</a>
                            <a class="dropdown-item" href="#">View Assets</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Default Basic Forms Start -->
        <div class="pd-20 card-box mb-30">
            <div class="clearfix">
                <div class="pull-left">
                    <h4 class="text-blue h4">Admin Detail</h4>
                    <!-- <p class="mb-30">All bootstrap element classies</p> -->
                </div>
                <!-- <div class="pull-right">
                            <a
                                href="#basic-form1"
                                class="btn btn-primary btn-sm scroll-click"
                                rel="content-y"
                                data-toggle="collapse"
                                role="button"
                                ><i class="fa fa-code"></i> Source Code</a
                            >
                        </div> -->
            </div>
            <form>
                <ul class="profile-edit-list row">
                    <li class="weight-500 col-md-6">
                        <h4 class="text-blue h5 mb-20">
                            Edit Your Personal Setting
                        </h4>
                        <div class="form-group">
                            <label>Full Name</label>
                            <input
                                class="form-control form-control-lg"
                                type="text"
                                id="name"
                            />
                        </div>
                        
                        <div class="form-group">
                            <label>Email</label>
                            <input
                                class="form-control form-control-lg"
                                type="email"
                                id="email"
                            />
                        </div>
                        <div class="form-group">
                            <label>Phone Number</label>
                            <input
                                class="form-control form-control-lg"
                                type="text"
                                id="contact"
                            />
                        </div>
                        
                        <div class="form-group">
                            <label>Role</label>
                           
                                <select class="custom-select col-12" id="role">
                                    <option selected="">Choose...</option>
                                    <option value="1">Super Admin</option>
                                    <option value="2">Admin</option>
        
                                </select>
                          
                        </div>
                        <div class="form-group">
                            <label>Branch Name</label>
                            <input
                                class="form-control form-control-lg"
                                type="text"
                                id="branch_name"
                            />
                        </div>
                        
                        <div class="form-group mb-0">
                            <input
                                type="submit"
                                class="btn btn-primary"
                                value="Update Information"
                            />
                        </div>
                    </li>
                   
                </ul>
            </form>
            <div class="collapse collapse-box" id="basic-form1">
                <div class="code-box">
                    <div class="clearfix">
                        <a href="javascript:;" class="btn btn-primary btn-sm code-copy pull-left"
                            data-clipboard-target="#copy-pre"><i class="fa fa-clipboard"></i> Copy Code</a>
                        <a href="#basic-form1" class="btn btn-primary btn-sm pull-right" rel="content-y"
                            data-toggle="collapse" role="button"><i class="fa fa-eye-slash"></i> Hide Code</a>
                    </div>
                    <pre><code class="xml copy-pre" id="copy-pre">

                        </code></pre>
                </div>
            </div>
        </div>
        <!-- Default Basic Forms End -->
    </div>
    <div class="footer-wrap pd-20 mb-20 card-box">
        DeskApp - Bootstrap 4 Admin Template By
        <a href="https://github.com/dropways" target="_blank">Ankit Hingarajiya</a>
    </div>
</div>



{{template "footer.html"}}

</body>

</html>