{{template "header.html"}}
        <div class="pd-ltr-20 xs-pd-20-10">
            <div class="min-height-200px">
                <div class="page-header">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="title">
                                <h4>Form</h4>
                            </div>
                            <nav aria-label="breadcrumb" role="navigation">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="/dashbard">Home</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">
                                        Form Basic
                                    </li>
                                </ol>
                            </nav>
                        </div>
                        <div class="col-md-6 col-sm-12 text-right">
                            <div class="dropdown">
                                <a
                                    class="btn btn-secondary dropdown-toggle"
                                    href="#"
                                    role="button"
                                    data-toggle="dropdown"
                                >
                                    January 2018
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#">Export List</a>
                                    <a class="dropdown-item" href="#">Policies</a>
                                    <a class="dropdown-item" href="#">View Assets</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Default Basic Forms Start -->
                <div class="pd-20 card-box mb-30">
                    <div class="clearfix">
                        <div class="pull-left">
                            <h4 class="text-blue h4"> Testimonial Forms</h4>
                            
                        </div>
                        <!-- <div class="pull-right">
                            <a
                                href="#basic-form1"
                                class="btn btn-primary btn-sm scroll-click"
                                rel="content-y"
                                data-toggle="collapse"
                                role="button"
                                ><i class="fa fa-code"></i> Source Code</a
                            >
                        </div> -->
                    </div>
                    <form  id = "branch_form">
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Name</label>
                            <div class="col-sm-12 col-md-10">
                                <input
                                id="name"
                                    class="form-control"
                                    type="text"
                                    placeholder="Testimonial Name Here"
                                    required onkeyup="checkNameValidation()"
                                />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Designation</label>
                            <div class="col-sm-12 col-md-10">
                                <input
                                id = "designation"
                                    class="form-control"
                                    placeholder="Designation Here"
                                    type="text"
                                    required onkeyup="checkDesigantionValidation()"
                                />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Review</label>
                            <div class="col-sm-12 col-md-10">
                                <input
                                id="review"
                                    class="form-control"
                                    placeholder="Review Here"
                                    type="text"
                                    required onkeyup="checkReviewValidation()"
                                />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Image</label>
                            <div class="col-sm-12 col-md-10">
                                <input
                                    id="image"
                                    class="form-control"
                                    placeholder="Image Here"
                                    type="file" 
                                    onchange="checkImageValidation(this)"
                                    />
                                    <span id="imageError" style="color: red;"></span>
                            </div>
                        </div>
                        
                        
                        <!-- <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Branch Status</label>
                            <div class="col-sm-12 col-md-10">
                                <input class="form-control" value="100" type="number" />
                            </div>
                        </div> -->
        
                       

                        <div>
                           
                            <button type="submit" class="btn btn-primary"  id="update">Update</button>
                                
                        </div>
                       
                    </form>
                    <div class="collapse collapse-box" id="basic-form1">
                        <div class="code-box">
                            <div class="clearfix">
                                <a
                                    href="javascript:;"
                                    class="btn btn-primary btn-sm code-copy pull-left"
                                    data-clipboard-target="#copy-pre"
                                    ><i class="fa fa-clipboard"></i> Copy Code</a
                                >
                                <a
                                    href="#basic-form1"
                                    class="btn btn-primary btn-sm pull-right"
                                    rel="content-y"
                                    data-toggle="collapse"
                                    role="button"
                                    ><i class="fa fa-eye-slash"></i> Hide Code</a
                                >
                            </div>
                            <pre><code class="xml copy-pre" id="copy-pre">

                        </code></pre>
                        </div>
                    </div>
                </div>
                <!-- Default Basic Forms End -->
            </div>
            <div class="footer-wrap pd-20 mb-20 card-box">
                DeskApp - Bootstrap 4 Admin Template By
                <a href="https://github.com/dropways" target="_blank"
                    >Ankit Hingarajiya</a
                >
            </div>
        </div>


   
    {{template "footer.html"}}
<script>
   $(document).ready(function() {
    var Id = new URLSearchParams(window.location.search).get('id');
    if (Id) {
        testimonialsDetails(Id);
    }
});

function testimonialsDetails(id) {
    $.ajax({
        url: "/admin/get/testimonial/" + id,
        method: "GET",
        dataType: "json",
        success: function(response) {
            var testimonial = response.data;
            if (testimonial) {
                $('#name').val(testimonial.Name);
                $('#designation').val(testimonial.Designation);
                $('#review').val(testimonial.Review);
            }
        },
        error: function(xhr, status, error) {
            console.error(error);
        }
    });
}

$('#branch_form').submit(function(event) {
    event.preventDefault();

    var form_data = {
        "name": $('#name').val(),
        "designation": $('#designation').val(),
        "review": $('#review').val(),
    };

    var form_image = new FormData();
    var imageInput = $('#image')[0];
    if (imageInput.files.length > 0) {
        form_image.append("image", imageInput.files[0]);
    }

    var Id = new URLSearchParams(window.location.search).get('id');

    var updateTextFieldsPromise = $.ajax({
        url: "/admin/update/testimonials/" + Id,
        method: "PATCH",
        data: JSON.stringify(form_data),
        contentType: 'application/json',
    });

    var updateImagePromise = null;
    if (form_image.get("image")) {
        updateImagePromise = $.ajax({
            url: "/admin/update/image/testimonials/" + Id,
            method: "PATCH",
            data: form_image,
            contentType: false,
            processData: false,
        });
    }

    if (updateImagePromise) {
        Promise.all([updateTextFieldsPromise, updateImagePromise])
            .then(function(responses) {
                var textFieldsResponse = responses[0];
                var imageResponse = responses[1];

                // Handle success response using Swal
                Swal.fire({
                    title: 'Updated!',
                    text: response.message || "Testimonial updated successfully!",
                    icon: "success",
                    timer: 3000
                }).then(
                    function() {
                        window.location.href = "/testimonials";
                    },
                    function(dismiss) {
                        if (dismiss === 'timer') {
                            console.log('I was closed by the timer');
                        }
                    }
                );
            })
            .catch(function(data) {
                // Handle error using Swal
                console.log(data.responseJSON.message);
                var message = data.responseJSON.message || 'Something went wrong!';
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: message,
                });
            });
    } else {
        updateTextFieldsPromise.then(function(response) {
                // Handle success response using Swal
                Swal.fire({
                    title: 'Updated!',
                    text: response.message || "Testimonial updated successfully!",
                    icon: "success",
                    timer: 3000
                }).then(
                    function() {
                        window.location.href = "/testimonials";
                    },
                    function(dismiss) {
                        if (dismiss === 'timer') {
                            console.log('I was closed by the timer');
                        }
                    }
                );
            })
            .catch(function(data) {
                // Handle error using Swal
                console.log(data.responseJSON.message);
                var message = data.responseJSON.message || 'Something went wrong!';
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: message,
                });
            });
    }
});

// Validation functions (checkNameValidation, checkDesigantionValidation, checkReviewValidation, checkImageValidation) are defined here.

function checkNameValidation() {
        var nameInput = document.getElementById('name');
        var nameValue = nameInput.value.trim(); // Trim to remove leading/trailing spaces

        if (nameValue.length > 3) {

            nameInput.classList.remove('form-control-danger'); // Remove danger class
            nameInput.classList.add('form-control-success'); // Add success class
        } else {

            nameInput.classList.remove('form-control-success'); // Remove success class
            nameInput.classList.add('form-control-danger'); // Add danger class
        }
    }
    function checkDesigantionValidation() {
        var nameInput = document.getElementById('designation');
        var nameValue = nameInput.value.trim(); // Trim to remove leading/trailing spaces

        if (nameValue.length > 3) {

            nameInput.classList.remove('form-control-danger'); // Remove danger class
            nameInput.classList.add('form-control-success'); // Add success class
        } else {

            nameInput.classList.remove('form-control-success'); // Remove success class
            nameInput.classList.add('form-control-danger'); // Add danger class
        }
    }
    function checkReviewValidation() {
        var nameInput = document.getElementById('review');
        var nameValue = nameInput.value.trim(); // Trim to remove leading/trailing spaces

        if (nameValue.length > 3) {

            nameInput.classList.remove('form-control-danger'); // Remove danger class
            nameInput.classList.add('form-control-success'); // Add success class
        } else {

            nameInput.classList.remove('form-control-success'); // Remove success class
            nameInput.classList.add('form-control-danger'); // Add danger class
        }
    }
    function checkImageValidation(input) {
        var file = input.files[0];
        var imageError = document.getElementById('imageError');
        
        if (!file) {
            imageError.textContent = "No file selected.";
            return;
        }

        var allowedExtensions = /(\.jpg|\.jpeg|\.png|\.gif)$/i;
        if (!allowedExtensions.exec(file.name)) {
            imageError.textContent = "Invalid file type. Please select a JPG, JPEG, PNG, or GIF file.";
            input.value = '';
            return;
        }

        var maxSizeInBytes = 5e+6; // 5MB
        if (file.size > maxSizeInBytes) {
            imageError.textContent = "File size is too large. Please select a file smaller than 5MB.";
            input.value = '';
            return;
        }

        // Clear error message if file is valid
        imageError.textContent = '';
    }
</script>    
      

</body>
</html>

    