{{template "header.html"}}
        <div class="pd-ltr-20 xs-pd-20-10">
            <div class="min-height-200px">
                <div class="page-header">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="title">
                                <h4>Form</h4>
                            </div>
                            <nav aria-label="breadcrumb" role="navigation">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="/login">Home</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">
                                        Form Basic
                                    </li>
                                </ol>
                            </nav>
                        </div>
                        <div class="col-md-6 col-sm-12 text-right">
                            <div class="dropdown">
                                <a
                                    class="btn btn-secondary dropdown-toggle"
                                    href="#"
                                    role="button"
                                    data-toggle="dropdown"
                                >
                                    January 2018
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#">Export List</a>
                                    <a class="dropdown-item" href="#">Policies</a>
                                    <a class="dropdown-item" href="#">View Assets</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Default Basic Forms Start -->
                <div class="pd-20 card-box mb-30">
                   
                    <form  id = "update_booking_form">
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">User Name</label>
                            <div class="col-sm-12 col-md-10">
                                <input
                                id="name"
                                    class="form-control"
                                    type="text"
                                    
                                />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Contact</label>
                            <div class="col-sm-12 col-md-10">
                                <input
                                id = "contact"
                                    class="form-control"
                                   
                                    type="text"
                                />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Date</label>
                            <div class="col-sm-12 col-md-10">
                                <input
                                id="date"
                                    class="form-control"
                                    
                                    type="text"
                                />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Total Price</label>
                            <div class="col-sm-12 col-md-10">
                                <input
                                id="tp"
                                    class="form-control"
                                   
                                    type="text"
                                />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label"
                                >Total Min Amount</label
                            >
                            <div class="col-sm-12 col-md-10">
                                <input
                                id="tma"
                                    class="form-control"
                                    
                                    type="text"
                                />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label"
                                >Paid Amount</label
                            >
                            <div class="col-sm-12 col-md-10">
                                <input
                                id="pa"
                                    class="form-control"
                                    placeholder="GSTIN"
                                    type="text"
                                />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label"
                                >Remaining Amount</label
                            >
                            <div class="col-sm-12 col-md-10">
                                <input
                                id="rem_a"
                                    class="form-control"
                                   
                                    type="text"
                                />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Branch Name</label>
                            <div class="col-sm-12 col-md-10">
                                <input
                                    id="branch_name"
                                    class="form-control"
                                    type="text" 
                                />
                            </div>
                        </div>

        
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Booking Status</label>
                            <div class="col-sm-12 col-md-10">
                                <select class="custom-select col-12" id="booking_status">
                                    
                                </select>
                            </div>
                        </div>

                        <div>
                           
                            <input class="btn btn-primary" type="submit" value="Submit" id="submit" />
                            
                        </div>
                       
                    </form>
                    <div class="collapse collapse-box" id="basic-form1">
                        <div class="code-box">
                            <div class="clearfix">
                                <a
                                    href="javascript:;"
                                    class="btn btn-primary btn-sm code-copy pull-left"
                                    data-clipboard-target="#copy-pre"
                                    ><i class="fa fa-clipboard"></i> Copy Code</a
                                >
                                <a
                                    href="#basic-form1"
                                    class="btn btn-primary btn-sm pull-right"
                                    rel="content-y"
                                    data-toggle="collapse"
                                    role="button"
                                    ><i class="fa fa-eye-slash"></i> Hide Code</a
                                >
                            </div>
                            <pre><code class="xml copy-pre" id="copy-pre">

                        </code></pre>
                        </div>
                    </div>
                </div>
                <!-- Default Basic Forms End -->
            </div>
            <div class="footer-wrap pd-20 mb-20 card-box">
                DeskApp - Bootstrap 4 Admin Template By
                <a href="https://github.com/dropways" target="_blank"
                    >Ankit Hingarajiya</a
                >
            </div>
        </div>


   
    {{template "footer.html"}}

    <script>
        $(document).ready(function() {
            // Retrieve the loan ID from the query parameter
            var Id = new URLSearchParams(window.location.search).get('id');
            
            if (Id) {
                BookingDetails(Id);
            }
        
            // Helper function to retrieve a specific cookie value by name
            function BookingDetails(Id) {
                $.ajax({
                    url: "/admin/pending/bookings/" + Id,
                    method: "GET",
                    dataType: "json",
                    success: function(response) {
                        var b = response.data.Data;
                        console.log(b.Date)
                        if (b) {
                            $('#name').val(b.Name);
                            $('#contact').val(b.Contact);
                            $('#date').val(b.Date);
                            $('#tp').val(b.Total_Price);
                            $('#tma').val(b.Total_min_amount_to_pay);
                            $('#pa').val(b.Paid_amount);
                            $('#rem_a').val(b.Remaining_amount_to_pay);
                            $('#branch_name').val(b.Branch_Name);
    
                            if(b.Status == 3)
                            {
                                var dropDownStatus = "<option value='4' selected >Approve</option><option value='2'>Disable</option>";
                            }
                            else
                            {
                                var dropDownStatus = "<option value='1'  >Decline</option><option value='2' selected>Disable</option>";
    
                            }
                            $('#booking_status').html(dropDownStatus);
                            
                                        
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error(error);
                    }
                });
            }
        
          
              
    //             $('#update_booking_form').submit(function(event) {
    //     event.preventDefault();
    
    //     var formData = new FormData();
    //     formData.append("Paid_amount", $('#pa').val());
    //     formData.append("Remaining_amount_to_pay", $('#rem_a').val());
    //     formData.append("Status", parseInt($('#branch_status').val(), 10));
    
    
    //     var Id = new URLSearchParams(window.location.search).get('id');
    
    //     // Send the update request using a PATCH method
    //     $.ajax({
    //         url: "/admin/update/branch/" + Id, // Update the URL as needed
    //         method: "PATCH", // Use PATCH method for updating
    //         data: formData,
    //         contentType: false, // Set to false to prevent jQuery from setting Content-Type
    //         processData: false, // Set to false to prevent jQuery from converting data to a query string
    //         success: function(response) {
    //             // alert("Branch Details updated successfully!");
    //             // window.location.href = "/all/branch";
    //         },
    //         error: function(xhr, status, error) {
    //             console.error(error);
    //         }
    //     });
    // });
    
            
            
            
            
            });
            
    </script>  