{{template "header.html"}}
<div class="card-box pb-10">
    <!-- Export Datatable start -->
    <div class="card-box mb-30">
        <div class="pd-20">
            <!-- <h4 class="text-blue h4">Data Table with Export Buttons</h4> -->
        </div>
        <div class="pb-20">
            <table class="table hover multiple-select-row data-table-export nowrap" id="allusertable">
                <thead>
                    <tr>
                        <th>Sn.</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Contact</th>
                        <th>Status</th>
                        <th >Actions</th>
                        <th>Multi-Slot-Booking</th>
                    </tr>
                </thead>
               
            </table>
        </div>
    </div>
</div>

{{template "footer.html"}}
<script>
    $(document).ready(function () {
        // Initialize DataTable
        var table = $('#allusertable').DataTable();
        // Make an AJAX request to fetch data from the URL
        $.ajax({
            url: '/admin/get/all/user',
            method: 'GET',
            dataType: 'json',
            success: function (response) {
                // Iterate through the data and append it to the table
                $.each(response.data, function (index, users) {
                    // Determine the button content based on the "Status"
                    var button;
                    console.log(users.Account_Status)
                    if (users.Account_Status === 1) {
                        button = "<button type='button' class='btn btn-outline-success'>Active</button>";
                    } else if (users.Account_Status === 2){
                        button = "<button type='button' class='btn btn-outline-danger'>Hold</button>";
                    }else{
                        button = "<button type='button' class='btn btn-outline-dark'>Block</button>";
                    }
                    var action = '<div class="dropdown">' +
                        '<a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="/view/package/' + users.ID + '" role="button" data-toggle="dropdown">' +
                        '<i class="dw dw-more"></i>' +
                        '</a>' +
                        '<div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">' +
                        '<a class="dropdown-item" href="/data/user?id=' + users.ID + '"><i class="dw dw-edit2"></i> Edit</a>' +
                        '<a class="dropdown-item" href="/user" onclick="deleteUser(' +  users.ID + ');"><i class="dw dw-delete-3"></i> Delete</a>' +
                        '</div>' +
                        '</div>'
                    var multi = '<a class="dropdown-item" href="/multi/booking?id=' + users.ID + '"><i class="dw dw-edit2"></i> Book Multiple Slots</a>'
                       
                    // Create a new row and append it to the table
                    table.row.add([
                        index + 1, // Sn.
                        users.Full_Name, // P
                        users.Email, // Charges
                        users.Contact, // Branch ID
                        button,
                        action,
                        multi, // Status

                    ]);
                });

                // Refresh the table to apply the changes
                table.draw();
            },
            error: function (error) {
                console.error('Error fetching data: ' + error);
            }
        });
    });
    
   
    function deleteUser(Id) {
        var row_id = Id;
        
        
        $.ajax({
            url: "/admin/delete/user/" + Id,
            method: "DELETE",
            success: function (response) {
                var rowid = 'rowN' + row_id;
                alert(rowid);
                var rowElement = document.getElementById(rowid);
                if (rowElement) {
                    rowElement.style.display = 'none';
                    alert("Testimonial with ID: " + Id + " deleted successfully");
                }
            },
            error: function (xhr, status, error) {
                console.error(error);
                alert("Error deleting testimonial with ID: " + Id);
            }
        });
    }
    function deleteTestimonial(Id) {
        var row_id = Id;
        
        
        $.ajax({
            url: "/admin/delete/testimonial/" + Id,
            method: "DELETE",
            success: function (response) {
                var rowid = 'rowN' + row_id;
                alert(rowid);
                var rowElement = document.getElementById(rowid);
                if (rowElement) {
                    rowElement.style.display = 'none';
                    alert("Testimonial with ID: " + Id + " deleted successfully");
                }
            },
            error: function (xhr, status, error) {
                console.error(error);
                alert("Error deleting testimonial with ID: " + Id);
            }
        });
    }
    
  
   
    
</script>

</body>
</html>