{{template "header.html"}}
<div class="pd-ltr-20 xs-pd-20-10">
    <div class="min-height-200px">
        <div class="page-header">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="title">
                        <h4>Form</h4>
                    </div>
                    <nav aria-label="breadcrumb" role="navigation">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/dashboard">Home</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Form Basic
                            </li>
                        </ol>
                    </nav>
                </div>
               
            </div>
        </div>
        <!-- Default Basic Forms Start -->
        <div class="pd-20 card-box mb-30">

            <form id="update_form">
                <div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label">Name</label>
                    <div class="col-sm-12 col-md-10">
                        <input id="name" class="form-control" type="text" placeholder="User Name Here"  required onkeyup="checkNameValidaton()"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label">Email</label>
                    <div class="col-sm-12 col-md-10">
                        <input id="email" class="form-control" placeholder="bootstrap@example.com" type="email" required onkeyup="checkEmailValidation()" />
                        <span id="emailError" style="color: red;"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label">Contact</label>
                    <div class="col-sm-12 col-md-10">
                        <input id="contact" class="form-control" placeholder="1-(111)-111-1111" type="text" required onkeyup="checkContactValidation()" />
                        <span id="contactError" style="color: red;"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label">Password</label>
                    <div class="col-sm-12 col-md-10">
                        <input id="password" class="form-control" placeholder="*********" type="password" required onkeyup="checkPasswordValidation()" />
                        <span id="passwordError" style="color: red;"></span>
                    </div>
                </div>


                <!-- <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Branch Status</label>
                            <div class="col-sm-12 col-md-10">
                                <input class="form-control" value="100" type="number" />
                            </div>
                        </div> -->



                <div>

                    <input class="btn btn-primary" type="submit" value="Submit" id="submit" />

                </div>

            </form>
            <div class="collapse collapse-box" id="basic-form1">
                <div class="code-box">
                    <div class="clearfix">
                        <a href="javascript:;" class="btn btn-primary btn-sm code-copy pull-left"
                            data-clipboard-target="#copy-pre"><i class="fa fa-clipboard"></i> Copy Code</a>
                        <a href="#basic-form1" class="btn btn-primary btn-sm pull-right" rel="content-y"
                            data-toggle="collapse" role="button"><i class="fa fa-eye-slash"></i> Hide Code</a>
                    </div>
                    <pre><code class="xml copy-pre" id="copy-pre">

                        </code></pre>
                </div>
            </div>
        </div>
        <!-- Default Basic Forms End -->
    </div>
 
</div>



{{template "footer.html"}}
<script>
    $(document).ready(function () {
        $("#update_form").submit(function (event) {
            event.preventDefault();
            var formData = {
                Full_Name: $("#name").val(),
                Email: $("#email").val(),
                Contact: $("#contact").val(),
                Password: $("#password").val(),
            };

            $.ajax({
                type: "POST",
                url: "/admin/add/user",
                data: formData,
                dataType: "json",
            })
                .done(function (data) {
                  
                    Swal.fire({
                        title: 'Good job!',
                        text: 'Form submitted successfully!',
                        icon: 'success',
                        showCancelButton: true,
                        confirmButtonClass: 'btn btn-success',
                        cancelButtonClass: 'btn btn-danger',
                        allowOutsideClick: false,
                    }).then((result) => {
                        // Check if the user clicked "OK"
                        if (result.isConfirmed) {
                            // Redirect the user to "/user"
                            window.location.href = "/user";
                        } else if (result.isDismissed) {
                            // Handle the case when the user clicks "Cancel"
                            window.location.href = "/user";
                        }
                    });
                }).fail(function (data) {
                    // Trigger SweetAlert error message on AJAX failure
                    console.log(data.responseJSON.message);
                    var message = data.responseJSON.message || 'Something went wrong!';
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: message,
                    });
                });
        });
    });
    function checkNameValidaton(){
            var nameInput = document.getElementById('name');
            var nameValue = nameInput.value.trim(); // Trim to remove leading/trailing spaces

            if (nameValue.length > 3) {
                
                nameInput.classList.remove('form-control-danger'); // Remove danger class
                nameInput.classList.add('form-control-success'); // Add success class
            } else {
           
                nameInput.classList.remove('form-control-success'); // Remove success class
                nameInput.classList.add('form-control-danger'); // Add danger class
            }
        }
        function checkEmailValidation() {
        var emailInput = document.getElementById('email').value;
        var emailError = document.getElementById('emailError');

        var emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

        if (!emailPattern.test(emailInput)) {
            emailError.textContent = "Invalid email format. Please enter a valid email.";
        } else {
            emailError.textContent = '';
        }
    }
    function checkContactValidation() {
        var contactInput = document.getElementById('contact').value;
        var contactError = document.getElementById('contactError');

        var contactPattern =/^[6-9]\d{9}$/;

        if (!contactPattern.test(contactInput)) {
            contactError.textContent = "Invalid contact format. Please enter a valid contact number.";
        } else {
            contactError.textContent = '';
        }
    }
    function checkPasswordValidation() {
        var passwordInput = document.getElementById('password').value;
        var passwordError = document.getElementById('passwordError');

        // Example: Password should have minimum 8 characters including at least one uppercase letter, one lowercase letter, one number, and one special character
        var passwordPattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;

        if (!passwordPattern.test(passwordInput)) {
            passwordError.textContent = "Password should have minimum 8 characters including at least one uppercase letter, one lowercase letter, one number, and one special character.";
        } else {
            passwordError.textContent = '';
        }
    }
</script>



</body>

</html>