{{template "header.html"}}
        <div class="pd-ltr-20 xs-pd-20-10">
            <div class="min-height-200px">
                <div class="page-header">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="title">
                                <h4>Form</h4>
                            </div>
                            <nav aria-label="breadcrumb" role="navigation">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="/dashborad">Home</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">
                                        Form Basic
                                    </li>
                                </ol>
                            </nav>
                        </div>
                        <div class="col-md-6 col-sm-12 text-right">
                            <div class="dropdown">
                                <a
                                    class="btn btn-secondary dropdown-toggle"
                                    href="#"
                                    role="button"
                                    data-toggle="dropdown"
                                >
                                    January 2018
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#">Export List</a>
                                    <a class="dropdown-item" href="#">Policies</a>
                                    <a class="dropdown-item" href="#">View Assets</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Default Basic Forms Start -->
                <div class="pd-20 card-box mb-30">
                   
                    <form  id = "update_form">
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Name</label>
                            <div class="col-sm-12 col-md-10">
                                <input
                                id="name"
                                    class="form-control"
                                    type="text"
                                    placeholder="User Name Here"
                                />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Email</label>
                            <div class="col-sm-12 col-md-10">
                                <input
                                id = "email"
                                    class="form-control"
                                    placeholder="bootstrap@example.com"
                                    type="text"
                                />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Contact</label>
                            <div class="col-sm-12 col-md-10">
                                <input
                                id="contact"
                                    class="form-control"
                                    placeholder="1-(111)-111-1111"
                                    type="number"
                                />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Password</label>
                            <div class="col-sm-12 col-md-10">
                                <input
                                id="password"
                                    class="form-control"
                                    placeholder="*********"
                                    type="text"
                                />
                            </div>
                        </div>
                      
                        
                        
                        <!-- <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Branch Status</label>
                            <div class="col-sm-12 col-md-10">
                                <input class="form-control" value="100" type="number" />
                            </div>
                        </div> -->
        
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">Status</label>
                            <div class="col-sm-12 col-md-10">
                                <select class="custom-select col-12" id="stat">
                                    
                                    <option value="1">Active</option>
                                    <option value="2">Hold</option>
                                    <option value="3">Block</option>
                                    
                                </select>
                            </div>
                        </div>

                        <div>
                           
                            <input class="btn btn-primary" type="submit" value="Update" id="submit" />
                            
                        </div>
                       
                    </form>
                    <div class="collapse collapse-box" id="basic-form1">
                        <div class="code-box">
                            <div class="clearfix">
                                <a
                                    href="javascript:;"
                                    class="btn btn-primary btn-sm code-copy pull-left"
                                    data-clipboard-target="#copy-pre"
                                    ><i class="fa fa-clipboard"></i> Copy Code</a
                                >
                                <a
                                    href="#basic-form1"
                                    class="btn btn-primary btn-sm pull-right"
                                    rel="content-y"
                                    data-toggle="collapse"
                                    role="button"
                                    ><i class="fa fa-eye-slash"></i> Hide Code</a
                                >
                            </div>
                            <pre><code class="xml copy-pre" id="copy-pre">

                        </code></pre>
                        </div>
                    </div>
                </div>
                <!-- Default Basic Forms End -->
            </div>
            <div class="footer-wrap pd-20 mb-20 card-box">
                DeskApp - Bootstrap 4 Admin Template By
                <a href="https://github.com/dropways" target="_blank"
                    >Ankit Hingarajiya</a
                >
            </div>
        </div>


   
    {{template "footer.html"}}
<script>
    $(document).ready(function() {
        // Retrieve the user ID from the query parameter
        var Id = new URLSearchParams(window.location.search).get('id');
        
        if (Id) {
            getUserDetails(Id);
        }
    
        // Helper function to retrieve user details
        function getUserDetails(Id) {
            $.ajax({
                url: "/admin/get/user/" + Id,
                method: "GET",
                dataType: "json",
                success: function(response) {
                    var user = response.data;
                    if (user) {
                        $('#name').val(user.Full_Name);
                        $('#email').val(user.Email);
                        $('#contact').val(user.Contact);
                        $('#stat').val(user.Account_Status);
                    }
                },
                error: function(xhr, status, error) {
                    console.error(error);
                }
            });
        }
        $("#update_form").submit(function(event) { 
            event.preventDefault();
            var formData = {
              Full_name: $("#name").val(),
              Email: $("#email").val(),
              Contact: $("#contact").val(),
              Password: $("#password").val(),
              Account_Status: parseInt($('#stat').val()),
            
            };
      
            $.ajax({
                url: "/admin/update/user/" + Id, // Update the URL as needed
                method: "PATCH", // Use PATCH method for updating
                data: JSON.stringify(formData),
                contentType: 'application/json',
                success: function(response) {
                    Swal.fire({
                        title: 'Updated!',
                        text: 'User Updated Successfully.',
                        icon: "success",
                        timer: 3000
                    }).then(
                        function () {
                            window.location.href = "/user";
                        },
                        // handling the promise rejection
                        function (dismiss) {
                            if (dismiss === 'timer') {
                                console.log('I was closed by the timer');
                            }
                        }
                    );
                },
                error: function (data) {
                    // Trigger SweetAlert error message on AJAX failure
                    console.log(data.responseJSON.message);
                    var message = data.responseJSON.message || 'Something went wrong!';
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: message,
                    });
                }
            });
          });
        });
    
</script>   
</body>
</html>

    